.wrapper {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

nav.acc-toolbar {
    font-size: 16px;
    line-height: 1.4;
    position: fixed;
    right: -180px;
    z-index: 9999;
    transition: right 750ms cubic-bezier(.23, 1, .32, 1);
}

nav.acc-toolbar.acc-toolbar-open {
    right: 0;
}

.acc-toolbar-toggle {
    position: absolute;
    right: 180px;
    transition: right 750ms cubic-bezier(.23, 1, .32, 1);
}

.acc-toolbar-toggle-link {
    background-color: #4a001f;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: #ffffff;
    display: inline-block;
    font-size: 200%;
    line-height: 0;
    padding: 10px;
}

.acc-toolbar-overlay {
    background-color: #4a001f;
    border: 1px solid #000000;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    width: 180px;
}

.acc-toolbar-title {
    color: #ffffff;
    display: block;
    font-weight: bold;
    line-height: 2;
    margin: 0;
    padding: 10px 15px 0;
}

.acc-toolbar-items {
    list-style: none;
}

ul {
    padding-left: 1rem;
    padding-right: 1rem;
}

.acc-toolbar-links {
    color: #333333;
    display: block;
    padding: 10px 15px;
    font-size: 80%;
    line-height: 1;
    text-decoration: none;
}

.acc-toolbar-text {
    vertical-align: middle;
    color: #ffffff;
}

.acc-toolbar-icons {
    vertical-align: middle;
    padding-right: 2px;
    color: #ffffff;
}

.acc-toolbar-list{
    padding: 10px 0px;
}

body.high-contrast {
    background-color: #000;
    color: #fff;
}

body.high-contrast .main-nav {
    background-color: #000;
}

body.high-contrast .footer-main {
    background-color: #000;
}

body.high-contrast .card {
    background-color: #000;
}

body.high-contrast input {
    background-color: #000;
}
body.high-contrast input::placeholder {
    color: #0080FF;
}

body.high-contrast .acc-toolbar-overlay {
    background-color: #000;
    border-color: white;
}

body.high-contrast .acc-toolbar-toggle-link {
    background-color: #000;
    border: 1px solid;
    border-color: white;
}

body.high-contrast span {
    color: #0080FF !important;
}

body.high-contrast label {
    color: #0080FF !important;
}

body.high-contrast td {
    color: #0080FF !important;
}

body.high-contrast a {
    color: #0080FF !important;
}

body.high-contrast h1 {
    color: #40C090 !important;
}

body.high-contrast h2 {
    color: #40C090 !important;
}

body.high-contrast h3 {
    color: #40C090 !important;
}

body.high-contrast h4 {
    color: #40C090 !important;
}

body.high-contrast h5 {
    color: #40C090 !important;
}

body.high-contrast b {
    color: yellow !important;
}

body.negative-contrast {
    filter: invert(100%);
}

body.negative-contrast main{
    background-color: aliceblue !important;
}

body.negative-contrast footer{
    background-color: aliceblue !important;
}

body.light-background {
    background-color: #fff;
    color: #000;
}

body.underline-links a {
    text-decoration: underline !important;
}

body.readability-font {
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
}

body.readability-font h1{
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
}

body.readability-font h2{
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
}

body.readability-font h3{
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
}

body.readability-font h4{
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
}

body.readability-font h5{
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
}